DATABASE_URL = "..."
SECRET_KEY = "..."
ADMIN_EMAIL = "..."
ADMIN_PASSWORD = "..."
SECRET_KEY="..."

# For alembic sync version

SQL_ALCHEMY_URL="..."

#JWT
ACCESS_TOKEN_EXPIRE_MINUTES=60
ALGORITHM='HS256'

# Redis 
REDIS_URL ="..."

# Cloudinary Setup keys

CLOUDINARY_CLOUD_NAME="..."
CLOUDINARY_API_KEY="..."
CLOUDINARY_API_SECRET="..."

# For creating admin
ADMIN_EMAIL="..."
ADMIN_PASSWORD="..."

